@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="text"],input[type="password"],input[type="email"],
input[type="number"],
textarea {
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

button{
    @apply bg-gray-300;
}
button.primary{
    background-color: '#F5385D';
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}